.center-element{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom right, rgb(100, 3, 255), rgb(183, 0, 255)); */
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
    background-size: 800%;
    background-position: right;
    background-attachment: fixed;
    user-select: none;
}


h3{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: rgb(53, 53, 53);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    text-align: center;
}

.h4-text{
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 80px;
    color: rgb(29, 27, 27);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.container {
    display: inline-block;
    padding: 13px 18px;
    margin: 10px 35px;
    border-style: hidden;
    border-radius: 15px;
    background-color: rgba(177, 204, 255, 0.790);
}

.container:hover{
    animation-name: enlargeContainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.container:not(:hover){
    animation-name: unenlargeContainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes enlargeContainer {
    from {padding: 13px 18px;}
    to {padding: 26px 36px;}
}

@keyframes unenlargeContainer {
    from {padding: 26px 36px;}
    to {padding: 13px 18px;}
}

.small_marker_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(78, 78, 78);
}