#header-notice {
    background: rgb(255, 94, 0);
    position: fixed;
    padding: 15px;
    float: top;
    top: 0px;
    width: 100%;
    text-align: center;
}

#header-notice-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: text;
}

#header-notice-close {
    /* float: right; */
    background-color: white;
    border-radius: 50%;
    padding: 6px 12px;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #header-notice {
        top:auto;
        width: auto;
        float: bottom;
        bottom: 0px;
        right: 0px;
        left: 0px;

        margin: 20px 15px;
        border-radius: 10px;

        box-shadow: 0px 0px 7px 7px rgba(65, 204, 123, 0.5);
    }

    #header-notice-close {
        float: top right;
    }

    #header-notice-text {
        float: left;
    }
}

#extra-spaces {
    user-select: none;
}

.center-element{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    
    user-select: none;
}

@keyframes Background-Gradient {
    from {background-position: right;}
    to {background-position: left;}
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: rgb(53, 53, 53);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    text-align: center;
}

.h4-text{
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 80px;
    color: rgb(29, 27, 27);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.container {
    display: inline-block;
    padding: 13px 18px;
    margin: 10px 35px;
    border-style: hidden;
    border-radius: 15px;
    background-color: rgba(177, 204, 255, 0.790);
}

.container:hover{
    animation-name: enlargeContainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.container:not(:hover){
    animation-name: unenlargeContainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes enlargeContainer {
    from {padding: 13px 18px;}
    to {padding: 26px 36px;}
}

@keyframes unenlargeContainer {
    from {padding: 26px 36px;}
    to {padding: 13px 18px;}
}

.small_marker_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(78, 78, 78);
}